<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
<dl>
    <dt th:text="${'ID: ' + user.id}"></dt>
    <dt th:text="${'Логин: '+ user.username}"></dt>

    <form th:method="PATCH" th:action="@{'/data/password_change'}" th:object="${user}">
        <label for="password">Изменение пароля:</label>
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{username}">
        <input type="password" th:field="*{password}" id="password">
        <input type="submit" value="Изменить пароль">
    </form>
</dl>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выйти из аккаунта">
</form>
</body>
</html>